<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 border-bottom"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Simple header</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="/upcoming_events/" class="nav-link">Upcoming Events</a>
          </li>
          <!--Display different options for user and manager -->
          {% if user.user_type == "user" %}
          <li class="nav-item">
            <a href="/current_events/" class="nav-link">Current Bookings</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="/create_events/" class="nav-link active">New Event </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a href="/logout/" class="nav-link">Log Out</a>
          </li>
        </ul>
      </header>
    </div>
    Create Event Page {% endif %}
  </body>
</html>
