<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>This is the home page</h1>
    <p>Mikayla is adding a Lineeeee</p>
    <p>This is the home page. Luanne's edits!!!</p>

    <form method="post">
      {% csrf_token %} {{ registration_form }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
